<div class="p-4 sm:ml-64">
    <div class="mx-6 my-8">
        <div class="grid grid-cols-3 gap-4 mb-4">
            <div class="flex items-center justify-center h-24 rounded bg-gray-200">
                <p class="text-2xl text-gray-400">
                    Pending orders: 3
                </p>
            </div>
            <div class="flex items-center justify-center h-24 rounded bg-gray-200">
                <p class="text-2xl text-gray-400">
                    Total orders: 5
                </p>
            </div>
            <div class="flex items-center justify-center h-24 rounded bg-gray-200">
                <p class="text-2xl text-gray-400">
                    Total sales: 10,000 tk
                </p>
            </div>
        </div>
    </div>
    <div class="mx-6 my-8">
        <div class="grid grid-cols-3 gap-4 mb-4">
            <div class="col-span-2 flex items-center justify-center h-screen rounded-lg bg-gray-200">
                <p class="text-2xl text-gray-400">
                    order details
                </p>
            </div>
            <div class="flex p-8 items-start justify-center h-screen rounded-lg bg-gray-200">
                <ul class="space-y-4 w-full">
                    <li class="p-4 bg-white border border-gray-200 rounded-lg shadow">
                        <div class="flex justify-between">
                            <p class="mb-2 font-medium text-gray-900">Order Number</p>
                            <p class="mb-2 font-medium text-gray-900">Table Number</p>
                        </div>
                        <div class="flex justify-between">
                            <h5 class="mb-1 text-4xl font-bold text-gray-900">21</h5>
                            <h5 class="mb-1 text-4xl text-gray-900">5</h5>
                        </div>
                    </li>
                    <li class="p-4 bg-white border border-gray-200 rounded-lg shadow">
                        <div class="flex justify-between">
                            <p class="mb-2 font-medium text-gray-900">Order Number</p>
                            <p class="mb-2 font-medium text-gray-900">Table Number</p>
                        </div>
                        <div class="flex justify-between">
                            <h5 class="mb-1 text-4xl font-bold text-gray-900">21</h5>
                            <h5 class="mb-1 text-4xl text-gray-900">5</h5>
                        </div>
                    </li>
                    <li class="p-4 bg-white border border-gray-200 rounded-lg shadow">
                        <div class="flex justify-between">
                            <p class="mb-2 font-medium text-gray-900">Order Number</p>
                            <p class="mb-2 font-medium text-gray-900">Table Number</p>
                        </div>
                        <div class="flex justify-between">
                            <h5 class="mb-1 text-4xl font-bold text-gray-900">21</h5>
                            <h5 class="mb-1 text-4xl text-gray-900">5</h5>
                        </div>
                    </li>
                    <li class="p-4 bg-white border border-gray-200 rounded-lg shadow">
                        <div class="flex justify-between">
                            <p class="mb-2 font-medium text-gray-900">Order Number</p>
                            <p class="mb-2 font-medium text-gray-900">Table Number</p>
                        </div>
                        <div class="flex justify-between">
                            <h5 class="mb-1 text-4xl font-bold text-gray-900">21</h5>
                            <h5 class="mb-1 text-4xl text-gray-900">5</h5>
                        </div>
                    </li>
                    <li class="p-4 bg-white border border-gray-200 rounded-lg shadow">
                        <div class="flex justify-between">
                            <p class="mb-2 font-medium text-gray-900">Order Number</p>
                            <p class="mb-2 font-medium text-gray-900">Table Number</p>
                        </div>
                        <div class="flex justify-between">
                            <h5 class="mb-1 text-4xl font-bold text-gray-900">21</h5>
                            <h5 class="mb-1 text-4xl text-gray-900">5</h5>
                        </div>
                    </li>

                </ul>
            </div>
        </div>
    </div>
</div>