<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <link rel="stylesheet" type="text/css" href="/static/css/all.min.css">
    <script defer src="/static/js/htmx.min.js"></script>
    <script defer src="/static/js/ulid.js"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <title>py-htmx</title>
</head>

<body class="overflow-hidden antialiased">
    <div x-data="{ sidebarOpen: false }" class="relative flex h-screen text-gray-800 bg-gray-100">
        <div x-bind:class="sidebarOpen ? 'block' : 'hidden'" @click="sidebarOpen = false"
            class="fixed inset-0 z-20 transition-opacity bg-black opacity-50 lg:hidden"></div>
        {% block navbar %}{% endblock %}
        <div class="flex flex-col flex-1 overflow-hidden bg-gray-100">
            {% block header %}{% endblock %}
            <main class="flex-1 overflow-y-auto">{% block content %}{% endblock %}</main>
        </div>
    </div>
    {% block footer %}{% endblock %}
</body>

</html>