<div class="mt-6">
    <div class="p-4 bg-white rounded-lg shadow-sm xl:p-8">
        <div class="space-y-3 sm:flex sm:items-start sm:space-y-0 sm:justify-between">
            <h2 class="text-lg font-medium text-gray-700 capitalize sm:text-xl md:text-2xl">Restaurants</h2>
            <div>
                <button hx-get="/restaurant/edit/0" hx-target="#edit-modal" hx-swap="innerHTML" hx-trigger="click"
                    class="flex items-center justify-center px-3 py-2 text-sm tracking-wide text-white capitalize transition-colors duration-200 transform bg-indigo-500 rounded-md hover:bg-indigo-600 focus:outline-none focus:bg-indigo-500 focus:ring focus:ring-indigo-300 focus:ring-opacity-50">
                    <i class="fa-solid fa-plus"></i>

                    <span class="mx-1.5">Add Restaurant</span>
                </button>
                <div id="edit-modal"></div>
            </div>
        </div>

        <div class="flex flex-col mt-8">
            <div class="my-2 overflow-x-auto xl:-mx-8">
                <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
                    <div class="overflow-hidden">
                        <table class="min-w-full divide-y divide-gray-200">
                            <thead>
                                <tr>
                                    <th scope="col"
                                        class="px-6 py-3 pr-16 text-sm font-medium tracking-wider text-left text-gray-700 uppercase rtl:text-right whitespace-nowrap">
                                        Name
                                    </th>

                                    <th scope="col"
                                        class="px-6 py-3 text-sm font-medium tracking-wider text-left text-gray-700 uppercase rtl:text-right whitespace-nowrap">
                                        Address

                                    </th>

                                    <th scope="col"
                                        class="px-6 py-3 text-sm font-medium tracking-wider text-left text-gray-700 uppercase rtl:text-right whitespace-nowrap">
                                        Phone
                                    </th>

                                    <th scope="col"
                                        class="px-6 py-3 text-sm font-medium tracking-wider text-left text-gray-700 uppercase rtl:text-right whitespace-nowrap">
                                        Email
                                    </th>

                                    <th scope="col"
                                        class="px-6 py-3 text-sm font-medium tracking-wider text-left text-gray-700 uppercase rtl:text-right whitespace-nowrap">
                                        Website
                                    </th>

                                    <th scope="col"
                                        class="px-6 py-3 text-sm font-medium tracking-wider text-left text-gray-700 uppercase rtl:text-right whitespace-nowrap">
                                        Image URL
                                    </th>

                                    <th scope="col"
                                        class="px-6 py-3 text-sm font-medium tracking-wider text-left text-gray-700 uppercase rtl:text-right whitespace-nowrap">
                                    </th>
                                </tr>
                            </thead>

                            <tbody hx-confirm="Are you sure?" hx-target="closest tr" hx-swap="outerHTML swap:1s"
                                class="bg-white divide-y divide-gray-200">
                                {% for restaurant in restaurant_list %}
                                {% include "partials/restaurant/restaurant_row.html" %}
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>