<div class="mt-6">
    <div class="p-4 bg-white rounded-lg shadow-sm xl:p-8">
        <div class="space-y-3 sm:flex sm:items-start sm:space-y-0 sm:justify-between">
            <h2 class="text-lg font-medium text-gray-700 capitalize sm:text-xl md:text-2xl">Restaurants</h2>
            <div>
                <button hx-get="/restaurant/edit/0" hx-target="#edit-modal" hx-swap="innerHTML" hx-trigger="click"
                    class="flex items-center justify-center px-3 py-2 text-sm tracking-wide text-white capitalize transition-colors duration-200 transform bg-indigo-500 rounded-md hover:bg-indigo-600 focus:outline-none focus:bg-indigo-500 focus:ring focus:ring-indigo-300 focus:ring-opacity-50">
                    <i class="fa-solid fa-plus"></i>

                    <span class="mx-1.5">Add Restaurant</span>
                </button>
                <div id="edit-modal"></div>
            </div>
        </div>
        <!-- restaurants grid -->
        {% include "partials/restaurant/items.html" %}
        <!-- restaurant view grid -->
    </div>
</div>
<div class="mt-6">
    {% include "partials/restaurant/restaurant_view.html" %}
</div>