<div class="mt-6">
    <div class="p-4 bg-white rounded-lg shadow-sm xl:p-8">
        {% include "partials/section_header.html" %}
    </div>
</div>
{% if restaurant_list %}
<div class="mt-6">
    <div class="p-4 bg-white rounded-lg shadow-sm xl:p-8">
        {% include "partials/restaurant/items.html" %}
    </div>
</div>
<div class="grid grid-cols-1 gap-6 mt-6 sm:grid-cols-3 xl:grid-cols-3">
    <div class="col-span-2">
        <div id="restaurant-info" class="mt-6">
        </div>
    </div>
    <div class="col-span-1 bg-green-600 h-96"> 2 / 3</div>
</div>
{% endif %}