{% if menus %}
<section class=" text-slate-500 text-base font-medium">
    <div class="grid grid-cols-1 gap-2 md:grid-cols-3 xl:grid-cols-4">
        {% for menu in menus %}
        <div class="flex flex-col items-center">
            <div role="button"
                class="select-none cursor-pointer transition-shadow overflow-hidden rounded-2xl bg-white shadow hover:shadow-lg"
                title="{{ menu.name|e }}" @click="$store.pos.addToCart({{ menu|e }})">
                <img src="{{ menu.image|e }}" alt="{{ menu.name|e }}">
                <div class="flex pb-3 px-3 -mt-3">
                    <p class="flex-grow text-sm text-ellipsis overflow-hidden">{{ menu.name|e }}</p>
                    <p class="font-semibold"> {{ menu.price|e }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</section>
{% endif %}