<div class="mt-6">
    <form action="/menu/data/add" method="post">
        <div class="p-4 bg-white rounded-lg shadow-sm xl:p-8">
            <div class="sm:flex sm:items-start sm:space-y-0 sm:justify-between">
                <h2 class="text-xl font-medium text-gray-700">Add a new item</h2>
                <div>
                    <button type="submit"
                        class="flex items-center justify-center px-3 py-2 text-sm tracking-wide text-white capitalize transition-colors duration-200 transform bg-indigo-500 rounded-md hover:bg-indigo-600 focus:outline-none focus:bg-indigo-500 focus:ring focus:ring-indigo-300 focus:ring-opacity-50">
                        <i class="fa-solid fa-plus"></i>

                        <span class="mx-1.5">Save</span>
                    </button>
                </div>
            </div>
        </div>
        <div class="grid grid-cols-1 gap-6 mt-6 sm:grid-cols-4 xl:grid-cols-4">
            <div class="col-span-1">
                <div class="p-4 bg-white rounded-lg shadow-sm xl:p-8">
                    <h2 class="text-lg mb-4 text-gray-700">Image</h2>
                    {% include "components/form/upload_image.html" %}
                </div>
            </div>
            <div class="col-span-2">
                <!-- General block -->
                <div class="p-4 bg-white rounded-lg shadow-sm xl:p-8">
                    <h2 class="text-lg mb-4 text-gray-700">Product Information</h2>
                    {% with id='name', name='product name', required='required' %}
                    {% include "components/form/text.html" %}
                    {% endwith %}
                    <div class="grid grid-cols-3 gap-4 mt-3">
                        {% with id='price', name='price', required='required' %}
                        {% include "components/form/number.html" %}
                        {% endwith %}
                        <div id="menu-categories" hx-get="/menu/category/dropdown" hx-trigger="load"></div>
                        <div class="mt-10">
                            <button hx-get="/menu/category/add" hx-target="#category_modal" hx-swap="innerHTML"
                                hx-trigger="click"
                                class="text-blue-700 border border-blue-700 hover:bg-blue-700 hover:text-white focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm p-2.5 text-center inline-flex items-center me-2 ">
                                <i class="fa-solid fa-plus"></i>
                                <span class="mx-1.5">Add Category</span>
                            </button>
                            <div id="category_modal"></div>
                        </div>
                    </div>
                    {% with id='description', name='product description' %}
                    {% include "components/form/textarea.html" %}
                    {% endwith %}
                </div>
            </div>
            <div class="col-span-1">
                <!-- Additional block -->
                <div class="p-4 bg-white rounded-lg shadow-sm xl:p-8">
                    <h2 class="text-xl mb-4 text-gray-700">Additional Information</h2>
                    <div class="grid grid-cols-2 gap-4">
                        {% with id='making_time', name='average making time', required='required'%}
                        {% include "components/form/number.html" %}
                        {% endwith %}

                        {% with id='spice_level', name='spice level' ,options=['Mild','Medium','Hot','Extra'] %}
                        {% include "components/form/dropdown.html" %}
                        {% endwith %}
                    </div>
                    <div class="grid grid-cols-3 gap-4">
                        {% with id='vegetarian', name='vegetarian' ,options=['No','Yes'] %}
                        {% include "components/form/dropdown.html" %}
                        {% endwith %}

                        {% with id='vegan', name='vegan' ,options=['No','Yes'] %}
                        {% include "components/form/dropdown.html" %}
                        {% endwith %}

                        {% with id='gluten_free', name='gluten free' ,options=['Yes','No'] %}
                        {% include "components/form/dropdown.html" %}
                        {% endwith %}
                    </div>
                </div>
                <!-- Prining block -->
                <div class="p-4 mt-6 bg-white rounded-lg shadow-sm xl:p-8">
                    <h2 class="text-xl mb-4 text-gray-700">Pricing information</h2>
                    <div class="grid grid-cols-2 gap-4">
                        {% with name='discount' %}
                        {% include "components/form/number.html" %}
                        {% endwith %}
                        {% with id='status', name='product availability' ,options=['Available','Unavailable'] %}
                        {% include "components/form/dropdown.html" %}
                        {% endwith %}
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>