<div class="mt-6">
    <div class="grid grid-cols-1 gap-6 sm:grid-cols-3 xl:grid-cols-3">
        <div class="col-span-2">
            <div class="p-4 bg-white rounded-lg shadow-sm xl:p-8">
                {% include "partials/section_header.html" %}
                <!-- Menu list -->
                {% include "partials/menu/menu_list.html" %}
                <!-- restaurant view grid -->
            </div>
        </div>
        <div class="col-span-1">
            <div class="p-4 bg-white rounded-lg shadow-sm xl:p-8">
                {% with title='Categories' %}
                {% include "partials/section_header.html" %}
                {% endwith %}
            </div>
        </div>
    </div>
</div>