<tr data-id="{{ menu.id|e }}">
    <td class="px-6 py-4 text-gray-500 whitespace-nowrap">
        <div class="flex items-center">
            <div class="flex-shrink-0 w-10 h-10 rounded-lg bg-gray-100">
                <img class="w-10 h-10 rounded-full" src="{{ menu.image|e }}" alt="">
            </div>
        </div>
    </td>

    <td class="px-6 py-4 text-gray-500 whitespace-nowrap">
        {{ menu.name|e }}
    </td>

    <td class="px-6 py-4 text-gray-500 whitespace-nowrap">
        {{ menu.menu_category_name|e }}
    </td>

    <td class="px-6 py-4 text-gray-500 whitespace-nowrap">
        {{ menu.price|e }}
    </td>

    <td class="px-6 py-4 text-gray-500 whitespace-nowrap">
        {% if menu.status|e == 'True' %}
        <div class="inline-flex items-center px-3 py-1 rounded-full gap-x-2 bg-emerald-100/60 dark:bg-gray-800">
            <span class="h-1.5 w-1.5 rounded-full bg-emerald-500"></span>

            <h2 class="text-sm font-normal text-emerald-500">Available</h2>
        </div>
        {% else %}
        <div class="inline-flex items-center px-3 py-1 rounded-full gap-x-2 bg-red-100/60 dark:bg-gray-800">
            <span class="h-1.5 w-1.5 rounded-full bg-red-500"></span>

            <h2 class="text-sm font-normal text-red-500">Unavailable</h2>
        </div>
        {% endif %}
    </td>

    <td class="px-6 py-4 text-gray-500 whitespace-nowrap">
        {{ menu.making_time|e }}
    </td>

    <td class="px-6 py-4 text-gray-500 whitespace-nowrap capitalize">
        {{ menu.spice_level|e }}
    </td>

    <td class="px-6 py-4 text-gray-500 whitespace-nowrap">
        {% if menu.vegetarian|e == 'True' %}
        Yes
        {% else %}
        No
        {% endif %}
    </td>

    <td class="px-6 py-4 text-gray-500 whitespace-nowrap">
        {% if menu.vegan|e == 'True' %}
        Yes
        {% else %}
        No
        {% endif %}
    </td>

    <td class="px-6 py-4 text-gray-500 whitespace-nowrap">
        {% if menu.gluten_free|e == 'True' %}
        Yes
        {% else %}
        No
        {% endif %}
    </td>

    <td class="px-6 py-4 whitespace-nowrap">
        <div class="flex items-center">
            <a href="/menu/view/{{ menu.id }}">
                <button hx-confirm="unset" class="text-gray-500 focus:outline-none hover:text-indigo-500">
                    <i class="fa-solid fa-eye"></i>
                </button>
            </a>
            <a href="/menu/edit/{{ menu.id }}">
                <button hx-get="/menu/edit/{{ menu.id }}" hx-target="#edit-modal" hx-swap="innerHTML" hx-trigger="click"
                    hx-confirm="unset" class="mx-4 text-gray-500 focus:outline-none hover:text-indigo-500">
                    <i class="fa-regular fa-pen-to-square text-xl"></i>
                </button>
            </a>
            <button id="delete" hx-delete="/menu/{{ menu.id }}"
                class="text-gray-500 focus:outline-none hover:text-indigo-500">
                <i class="fa-regular fa-trash-can text-xl"></i>
            </button>
        </div>
    </td>
</tr>